body{
	background-image: url("bg.jpg");

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
			
		}
	#bg2{
		background-image: url("bg2.jpg");

		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
	}
		h1{
			color: white;
			text-align: center;
			font-size: 50px;
			padding: 40px;

		}
		h2{
			color: white;
			background: linear-gradient(violet,blue);
			text-align: center;
			font-size: 50px;
			padding: 50px;

		}
		p{
			font-family: "consolas", monospace;
			color: white;
			font-size: 20px;
		}

		#a1{
			font-family: "consolas", monospace;
			color: white;
			text-align: center;
			font-size: 20px;
			padding: 40px;
		}

		#a2{
			border-bottom: solid;
			font-family: "consolas", monospace;
			color: white;
			text-align: center;
			font-size: 20px;
			padding: 40px;
		}

		#p1{
			background: linear-gradient(to top, darkgray, darkslateblue);
			background-repeat: no-repeat;
			background-attachment: fixed;

			border-style: solid;
			border-width: 4px;
			border-color: seashell;
			border-radius: 10px;
			padding: 5px;
		}

		button{

			padding: 20px 40px;
			
			margin: auto;
			display: block;
			border-radius: 20px;
			background: linear-gradient(darkslateblue, lightcyan);
		}

		#cal{
			background-image: url("cal.webp");
		}

		#cnt{
			background-image: url("time.jpg");
		}

		#pst{
			background-image: url("new.jpg");
		}

		button.bs{

			width: 300px;
			height: 300px;
			padding: 20px 40px;
			margin: 10px 10px;
			display: block;
			border-radius: 0px;
			


			
			
			background-position: center;
			background-size: cover;
			
		}

		@keyframes hoo{
			
			0%{width: 300px;height: 300px;}
			100%{width: 324px;height: 324px;}
			
			
		}

		@keyframes hoo2{
			
			0%{width: 324px;height: 324px;}
			100%{width: 300px;height: 300px;}
			
			
		}

		button.an{
			animation-name: hoo;
			animation-duration: 0.5s;
			width: 324px;
			height: 324px;

		}

		button.pn{
			animation-name: hoo2;
			animation-duration: 0.5s;
			width: 300px;
			height: 300px;
		}

		img{

			border:solid;
			border-radius: 10px;


			padding: 20px;

			margin: auto;
			display: block;

			width: 800px;
			height: 500px;
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-position: center;
			background-size: cover;
		}

	div.lef{

		overflow: auto;
	}
	div.lef div {

		width:  30%;
		float: left;
	}

	@keyframes fade{
		0% {opacity: 10%;}
		20% {opacity: 30%;}
		50% {opacity: 60%;}
		100% {opacity: 100%;}
	}


	#sp{
		font-size: 60px;
		font-family: monospace;
		opacity: 100%;
		animation-name: fade;
		animation-duration: 3s;
	}

	span{
		text-align: center;
		font-family: monospace;
		font-size: 50px;
		color: darkgray;

	}
	#clk{
		margin: auto;
		display: block;
		text-align: center;
		float: none;
		color: white;
		padding: 40px;
	}

	@keyframes flash{

		0% {border-color: gold;}
		40% {border-color: grey;}
		60% {border-color: silver;}
		100% {border-color: white;}
		

	}

	@keyframes buhover{
		0% {border-color: white;}
		100% {border-color: gold;}
	}

	button.p{

		animation-name: flash;
		animation-duration: 3s;

		margin: 10px 10px;

		font-family: monospace;
		color: white;
			
		
		border-radius: 20px;
		border-style: solid;
		border-color: none;
		background: linear-gradient(darkslateblue, darkorange);

	}

	button.hover{
		animation-name: buhover;
		animation-duration: 1s;
	}

	p.posts{

		

		background: linear-gradient(to top, darkgray, whitesmoke);
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: black;

		border-style: solid;
		border-width: 4px;
		border-color: seashell;
		border-radius: 10px;
		padding: 5px;

	}
	p.posttime{
		background: linear-gradient(to top, darksalmon, whitesmoke);
		background-repeat: no-repeat;
		background-attachment: fixed;
		color: black;

		font-size: 20px;

		margin: 1px 10px;

		border-top: solid;
		border-left: solid;
		border-right: solid;

		border-width: 2px;
		border-color: seashell;
		border-radius: 10px;
		
	}

	@keyframes wide{
		0%{width: 250px}
		100%{width: 350px}
	}

	@keyframes wideout{
		0%{width: 350px}
		100%{width: 250px}
	}


	div.bar{
		background: linear-gradient(to top, skyblue, blue);
		background-repeat: no-repeat;
		background-attachment: fixed;

		height: 200px;
		
	}

	button.ok{
		width: 250px;
		height: 40px;
		
		padding: 10px 20px;
			
		margin: 20px 20px;
		border-radius: 20px;
		background: linear-gradient(violet, blueviolet);

		color: white;

		font-size: 20px;
	}

	button.wide{
		width: 350px;
		animation-name: wide;
		animation-duration: 1s;
	}

	button.wideout{
		width: 250px;
		animation-name: wideout;
		animation-duration: 1s;
	}

	input{
		padding: 10px 10px;
		border-radius: 20px;
		font-family: monospace;
	}

	div.label{
		color: white;
		position: relative;
		display: inline-block;

		
	}

	div.box{
		color: white;
		background: white;
		position: absolute;
		z-index: 1;
		display: inline-block;

		background: linear-gradient(ghostwhite,seashell);
		border-top: solid;
		border-left: solid;
		color: grey;
		bottom: 0%;
		width: 800px;

		left: 20%;

		height: 200px;
		padding: 0px 0px;
	}

	span.label2{
		background: linear-gradient(ghostwhite,seashell);
		border-top: solid;
		border-left: solid;
		color: grey;
		bottom: 0%;
		width: 900px;

		height: 25px;
		padding: 0px 5px;

		position: absolute;
		left: 500%;
		top: 0%;
		margin-left: 10px;
		margin-top: -1px;

		font-size: 20px;
	}


